{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Mi Abaut</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quod, eligendi perspiciatis expedita nesciunt dolore fugiat repellat? Delectus ea, impedit dolores saepe quisquam adipisci, sapiente doloribus fuga fugiat quaerat alias?
        </p>
    </div>

    <div class="col-4">
        <img src="{{img}}" alt="{{nomImg}}" class="img-thumbnail">
    </div>
</div>
    
{{> footer}}